*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  font-size: 10px;
  /* font-family: Georgia, 'Times New Roman', Times, serif; */
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #4C4C4C;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.6s;
}

.link:hover,
.btn:hover,
.box-card:hover,
.btn-arrow:hover,
.logo-link:hover,
.btn-card-number:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 450px) {
  .container {
    padding: 0 10px;
  }
}

.inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 80px;
  box-sizing: content-box;
}

@media (max-width: 768px) {
  .inner {
    flex-direction: column;
  }
}

/*--------HEADER-------------*/

.header {
  padding-top: 30px;
  max-width: 100%;
}

@media (max-width: 450px) {
  .header {
    padding: 30px 20px 0;
  }
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-burger {
  display: none;
}

@media (max-width: 700px) {
  .nav-burger {
    display: block;
    position: relative;
    width: 30px;
    height: 22px;
  }

  .nav-burger::before,
  .nav-burger::after {
    content: '';
    position: absolute;
    background-color: #F1CDB3;
    width: 100%;
    height: 2px;
  }

  .nav-burger::before {
    top: 0;
  }

  .nav-burger::after {
    bottom: 0;
  }

  .nav-burger span {
    position: absolute;
    background-color: #F1CDB3;
    width: 100%;
    height: 2px;
    top: 9px;
  }
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo-title {
  margin-bottom: 10px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 3.2em;
  line-height: 110%;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  color: #F1CDB3;
}

.logo-subtitle {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 400;
  font-size: 1.3em;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.list {
  display: flex;
  justify-content: space-between;
  column-gap: 37px;
}

@media (max-width: 700px) {
  .nav {
    display: none;
  }
}

.item {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 400;
  font-size: 1.49em;
  line-height: 160%;
  color: #CDCDCD;
}

.link-active {
  color: #FAFAFA;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

.link:hover {
  color: #FFFFFF;
}

.link:active,
.link-pets-pg:active {
  border-bottom: 3px solid #F1CDB3;
}

.start-screen {
  background: url("assets/svg/noise_transparent@2x.svg"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

/*-----------NOT ONLY-------------*/

.inner-not-only {
  padding-top: 90px;
}

@media (max-width: 768px) {
  .inner-not-only {
    padding-top: 60px;
  }

  .not-only-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 42px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  color: #CDCDCD;
}

.content-not-only {
  row-gap: 42px;
  width: 460px;
  padding-bottom: 80px;
}

@media (max-width: 850px) {
  .content-not-only {
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .content-not-only {
    padding-bottom: 100px;
  }
}

@media (max-width: 450px) {
  .content-not-only {
    max-width: 100%;
    padding-bottom: 105px;
  }
}

.title-h1 {
  max-width: 340px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 4.4em;
  line-height: 130%;
  color: #FFFFFF;
}

@media (max-width: 450px) {
  .title-h1 {
    max-width: 80%;
    margin: auto;
    font-size: 2.5em;
    letter-spacing: 0.06em;
    text-align: center;    
  }
}

.text {
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 400;
  font-size: 1.5em;
  line-height: 160%;
}

@media (max-width: 450px) {
  .text {
    text-align: center;
  }
}

.btn {
  padding: 15px 45px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.7em;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  background: #F1CDB3;
  border: none;
  border-radius: 100px;
  transition: background-color linear 0.5s, border 0.2s;
}

.btn:hover,
.btn-card-number:hover {
  background-color: #FDDCC4;
  border: none;
}

.img-block {
  margin: 0;
  overflow: hidden;
}

@media (max-width: 768px) {
  .img-block-not-only {
    max-width: 569px;
    margin-left: 140px;
  }
}

@media (max-width: 450px) {
  .img-block-not-only {
    max-width: 260px;
    margin-left: 40px;
  }
}

/*----------ABOUT-----------------*/

.inner-about {
  row-gap: 80px;
  column-gap: 120px;
  justify-content: center;
  padding: 80px 0 100px 0;
  box-sizing: content-box;
}

@media (max-width: 450px) {
  .inner-about {
    padding: 42px 0 42.4px;
    row-gap: 42px;
  }
}

.img-block-about {
  max-width: 300px;
}

@media (max-width: 768px) {
  .img-block-about {
    order: 2;
  }
}

@media (max-width: 320px) {
  .img-block-about {
    max-width: 260px;
  }
}

.title {
  max-width: 370px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 3.5em;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 450px) {
  .title {
    max-width: 80%;
    margin: 0 auto;
    font-size: 2.5em;
    text-align: center;
  }
}

.content-about {
  max-width: 430px;
  row-gap: 25px;
  color: #4C4C4C;
}

@media (max-width: 320px) {
  .content-about {
    max-width: 90%;
    row-gap: 23px;
  }

  .text-about {
    text-align: justify;
  }
}


/*--------OUR FRIENDS-------------*/

.our-friends {
  background: #F6F6F6;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0 100px 0;
}

@media (max-width: 320px) {
  .box {
    padding: 42px 0;
  }
}

.slider-box {
  display: flex;
  justify-content: center;
  /* justify-content: start; */
  align-items: center;
  /* width: 93.75%; */
  width: 100%;
  height: 435px;
  box-sizing: content-box;
  /* column-gap: 53px; */
  padding: 60px 40px;
}

@media (max-width: 768px) {
  .slider-box {
    padding: 60px 30px;
    column-gap: 12px;
  }
}

@media (max-width: 450px) {
  .slider-box {
    padding: 42px 10px;
    flex-direction: column-reverse;
    row-gap: 18px;
    justify-content: center;
    align-items: center;
    height: auto;
  }
}

.slider-cards-box {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 90px;
  max-width: 82.5%;
}

@media (max-width: 768px) {
  .slider-cards-box {
    column-gap: 40px;
  }
}

@media (max-width: 450px) {
  .slider-cards-box {
    position: relative;
    width: auto;
  }
}

.box-card {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  justify-content: space-between;
  align-items: center;
  /* width: 270px; */
  flex-basis: 270px;
  background: #FAFAFA;
  border-radius: 9px;
  overflow: hidden;
  transition: background-color linear 0.6s, box-shadow linear 0.3s;
}

@media (max-width: 1024px) {
  .box-card:last-child{
    display: none;
  }
}

@media (max-width: 736px) {
  .box-card:not(:first-child) {
    display: none;
  }
}

.box-card:hover {
  box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
}

.title-in-box {
  max-width: 400px;
  text-align: center;
}

.subtitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 2em;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

.btn-card {
  margin-bottom: 30px;
  padding: 15px 45px;
  border: 2px solid #F1CDB3;
  background-color: transparent;
  transition: background-color linear 0.6s;
}

.slider-btn-box {
  position: relative;
  width: 100%;
  padding: 0 40px;
  height: 52px;
}

@media (max-width: 1024px) {
  .slider-btn-box {
    padding: 0 30px;
  }
}

@media (max-width: 450px) {
  .slider-btn-box {
    width: auto;
    display: inline-flex;
    justify-content: space-between;
    column-gap: 80px;
    padding: 0 10px;
  }
}

.btn-arrow {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  transition: background-color linear 0.6s;
}

@media (max-width: 450px) {
  .btn-arrow {
    position: relative;
  }
}

.btn-arrow-next {
  position: absolute;
  margin-left: calc(100% - 52px - 80px);
  /* margin-left: calc(1096px + 53px ) ; */
}

@media (max-width: 768px) {
  .btn-arrow-next {
      margin-left: calc(100% - 52px - 60px);
    /* margin-left: calc(580px + 24px + 52px); */
  }
}

@media (max-width: 450px) {
  .btn-arrow-next {
    position: relative;
    margin: 0;
  }
}

.btn-arrow:hover {
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}

.img-arrow {
  display: block;
  width: 14px;
  height: 6px;
}

.arrow-next {
  transform: rotate(180deg);
}

/*---------------------HELP------------------------*/

.box-help {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

@media (max-width: 450px) {
  .box-help {
    row-gap: 42px;
  }
}

.box-list-help {
  display: flex;
  column-gap: 120px;
  row-gap: 55px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .box-list-help {
    column-gap: 60px;
    row-gap: 54px;
  }
}

@media (max-width: 450px) {
  .box-list-help {
    padding: 0 5px;
    column-gap: 30px;
    row-gap: 29px;
    justify-content: start;
  }
}

.item-help {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 30px;
  align-items: center;
}

@media (max-width: 768px) {
  .item-help {
    width: 170px;
  }
}

@media (max-width: 450px) {
  .item-help {
    width: 130px;
    row-gap: 20px;
  }
  .subtitle-list-help {
    font-size: 1.5em;
  }
}

.img-help {
  width: 60px;
  height: 60px;
}

@media (max-width: 450px)  {
    .img-help {
      width: 50px;
      height: 50px;
    }
}

/*------------DONATION------------*/

#in-addition {
  background-color: #F6F6F6;
}

.inner-donation {
  column-gap: 30px;
  justify-content: center;
  padding: 78px 0 100px 0;
}

@media (max-width: 768px) {
  .inner-donation {
    flex-direction: column-reverse;
    row-gap: 60px;
  }
}

@media (max-width: 450px) {
  .inner-donation {
    padding: 42px 0;
    row-gap: 42px;
  }
}

.content-donation {
  max-width: 380px;
  row-gap: 20px;
  font-family: 'Georgia';
  font-weight: 400;
  color: #545454;
}

@media (max-width: 450px) {
  .content-donation {
    max-width: 100%;
    align-items: center;
  }
}

.img-block-donation {
  max-width: 505px;
  margin: 11px 0 10px 0;
}

@media (max-width: 768px) {
  .img-block-donation {
    margin: 0;
  }
}

@media (max-width: 320px) {
  .img-block-donation {
    max-width: 260px;
  }
}

.tagline {
  font-weight: 400;
  font-size: 1.5em;
  line-height: 110%;
  letter-spacing: 0.06em;
}

@media (max-width: 450px)  {
  .tagline {
    line-height: 160%;
    letter-spacing: 0;
    text-align: center;
  }
}

.btn-card-number {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 15px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  transition: background-color linear 0.6s;
}

.icon-box {
  display: inline-block;
  margin: 0;
  height: 23px;
}

.number {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #545454;
}

@media (max-width: 450px) {
  .number {
    font-size: 1.25em;
    letter-spacing: 0;
  }
}

.desk {
  font-style: italic;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 150%;
  color: #B2B2B2;
}

@media (max-width: 450px) {
  .desk {
    text-align: justify;
    padding: 0 20px;
  }
}

/*------------FOOTER----------------------*/

.footer {
  background: url("assets/svg/noise_transparent@2x.svg"),  radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.inner-footer {
  display: flex;
  justify-content: space-between;
  row-gap: 160px;
  padding-top: 40px;
}

@media (max-width: 1024px) {
  .inner-footer {
    row-gap: 60px;
  }
}

@media (max-width: 980px) {
  .inner-footer {
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    row-gap: 65px;
  }
}

@media (max-width: 450px) {
  .inner-footer {
    row-gap: 40px;
  }
}

.box-content-footer {
  display: flex;
  justify-content: space-between;
  column-gap: 160px;
  /* max-width: 740px; */
}

@media (max-width: 1024px) {
  .box-content-footer {
    column-gap: 60px;
  }
}

@media (max-width: 980px) {
  .box-content-footer {
    column-gap: 60px;
  }
}

@media (max-width: 450px) {
  .box-content-footer {
    flex-direction: column;
    row-gap: 40px;
    align-items: center;
  }
}

.content-footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  row-gap: 33px;
  max-width: 302px;
  padding-top: 16px;
  padding-bottom: 60px;
}

.content-footer:first-child {
  width: 278px;
  row-gap: 40px;
}

@media (max-width: 980px) {
  .content-footer {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .content-footer {
    align-items: center;
  }

  .content-footer:not(:first-child) {
    row-gap: 40px;
    align-items: start;
  }
}

.title-footer {
  max-width: 278px;
  letter-spacing: 2px;
}

@media (max-width: 450px) {
  .title-footer {
    letter-spacing: 0.06em;

  }
  .content-footer:first-child > .title-footer {
    max-width: 100%;
  }
}

footer .title {
  color: #ffffff;
}

.socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 2em;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.social-icon-box {
  margin-right: 20px;
  max-width: 40px;
}

@media (max-width: 450px) {
  .img-block-footer {
    max-width: 260px;
  }
}

/*--------Our pets page-----------------*/

.header-container-pg {
  display: flex;
  align-items: center;
  height: 120px;
}

.header-other-pages {
  height: 60px;
  margin: 0;
  padding: 0;
}

.logo-title-other-pages {
  color: #545454;
}

.logo-subtitle-other-pages {
  color: #292929;
}

.item-pets-pg {
  color: #545454;
}

.link-pets-pg-active {
  color: #292929;
  border-bottom: 3px solid #F1CDB3;
  cursor: default;
}

.link-pets-pg:hover {
  color: #292929;
}

.our-friends-pg {
  height: calc(1162px + 100px + 80px);
}

.box-in-pets-page {
  height: 1162px;
  box-sizing: content-box;
}

.slider-box-pets-pg {
  height: 930px;
  padding: 0;
  margin: 45px 0;
}

.slider-cards-box-open {
  min-height: 930px;
}

.box-card:hover {
  background-color: #ffffff;
}

.box-card:hover>.btn {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
}

.btn-box-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 340px;
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 2em;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #292929;
}

.btn-arrow:active,
.btn-control:nth-child(3) {
  background-color: #F1CDB3;
  border: none;
  cursor: default;
}

.btn-inactive,
.btn-inactive:hover {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  background: transparent;
  cursor: default;
}